<!-- contenedores responsive -->
<div class="container-sm">100% wide until small breakpoint</div>
<div class="container-md">100% wide until medium breakpoint</div>
<div class="container-lg">100% wide until large breakpoint</div>
<div class="container-xl">100% wide until extra large breakpoint</div>
<div class="container-xxl">100% wide until extra extra large breakpoint</div>

<!-- contenedor normal y fluido -->
<div class="container-fluid">Container fluid</div>
<div class="container"> Simple Container</div>