<!-- colores de los botones -->
<button type="button" class="btn btn-primary m-3">Primary</button>
<button type="button" class="btn btn-secondary m-3">Secondary</button>
<button type="button" class="btn btn-success m-3">Success</button>
<button type="button" class="btn btn-danger m-3">Danger</button>
<button type="button" class="btn btn-warning m-3">Warning</button>
<button type="button" class="btn btn-info m-3">Info</button>
<button type="button" class="btn btn-light m-3">Light</button>
<button type="button" class="btn btn-dark m-3">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<!-- botones sin fondo que se rellenar con el evento hover -->
<br>
<button type="button" class="btn btn-outline-primary m-3">Primary</button>
<button type="button" class="btn btn-outline-secondary m-3">Secondary</button>
<button type="button" class="btn btn-outline-success m-3"> Success</button>
<button type="button" class="btn btn-outline-danger m-3">Danger</button>
<button type="button" class="btn btn-outline-warning m-3">Warning</button>
<button type="button" class="btn btn-outline-info m-3">Info</button>
<button type="button" class="btn btn-outline-light m-3">Light</button>
<button type="button" class="btn btn-outline-dark m-3">Dark</button>
<br>

<!-- agregar size de los botones con btn-lg o btn-sm -->
<button type="button" class="btn btn-primary btn-lg m-3">Large button</button>
<button type="button" class="btn btn-secondary btn-sm m-3">Small button</button>
<br>

<!-- botones y links desabilitados -->
<button type="button" class="btn btn-primary btn-lg m-3" disabled>Primary button</button>
<button type="button" class="btn btn-secondary btn-lg m-3" disabled>Button</button>
<br>
<a class="btn btn-primary btn-lg disabled m-3" role="button" aria-disabled="true">Primary link</a>
<a class="btn btn-secondary btn-lg disabled m-3" role="button" aria-disabled="true">Link</a>
<br>

<!-- forma de crear botones en bloque -->
<div class="d-grid gap-2">
  <button class="btn btn-primary" type="button">Button</button>
  <button class="btn btn-primary" type="button">Button</button>
</div>

<!-- botones toggle -->
<!-- se agrega data-bs-toggle="button" , pero si queres hacerlo toggle por defecto 
agregar class="active" y aria-pressed="true" -->
<br>
<button type="button" class="btn btn-primary m-3" data-bs-toggle="button" autocomplete="off">Toggle button</button>
<button type="button" class="btn btn-primary active m-3" data-bs-toggle="button" autocomplete="off" aria-pressed="true">Active toggle button</button>
<button type="button" class="btn btn-primary m-3" disabled data-bs-toggle="button" autocomplete="off">Disabled toggle button</button>
